estimated_gas_cost_of_withdraw = {{ bridge_estimated_gas_cost_of_withdraw }}

[home]
account = "{{ home_signer_address }}"
ipc = "{{ home_node_path }}/parity_data/jsonrpc.ipc"
required_confirmations = {{ bridge_home_required_confirmations }}
poll_interval = {{ bridge_home_poll_interval }}
request_timeout = {{ bridge_home_request_timeout }}

[home.contract]
bin = "HomeBridge.bin"

[foreign]
account = "{{ foreign_signer_address }}"
ipc = "{{ foreign_node_path }}/parity_data/jsonrpc.ipc"
required_confirmations = {{ bridge_foreign_required_confirmations }}
poll_interval = {{ bridge_foreign_poll_interval }}
request_timeout = {{ bridge_foreign_request_timeout }}

[foreign.contract]
bin = "ForeignBridge.bin"

[authorities]
accounts = [
  "{{ bridge_authorities | join ('",\n  "') }}"
]
required_signatures = {{ bridge_authorities_requires_signatures }}

[transactions]
home_deploy = { gas = {{ bridge_home_deploy_gas }}, gas_price = {{ bridge_home_deploy_gas_price }} }
foreign_deploy = { gas = {{ bridge_foreign_deploy_gas }}, gas_price = {{ bridge_foreign_deploy_gas_price }} }
deposit_relay = { gas = {{ bridge_deposit_relay_gas }}, gas_price = {{ bridge_deposit_relay_gas_price }} }
withdraw_relay = { gas = {{ bridge_withdraw_relay_gas }}, gas_price = {{ bridge_withdraw_relay_gas_price }} }
withdraw_confirm = { gas = {{ bridge_withdraw_confirm_gas }}, gas_price = {{ bridge_withdraw_confirm_gas_price }} }
