estimated_gas_cost_of_withdraw = {{ bridge_estimated_gas_cost_of_withdraw }}

[home]
account = "{{ home_signer_address }}"
ipc = "{{ home_node_path }}/parity_data/jsonrpc.ipc"
required_confirmations = {{ home_required_confirmations }}
poll_interval = {{ home_poll_interval }}
request_timeout = {{ home_request_timeout }}

[home.contract]
bin = "HomeBridge.bin"

[foreign]
account = "{{ foreign_signer_address }}"
ipc = "{{ foreign_node_path }}/parity_data/jsonrpc.ipc"
required_confirmations = {{ foreign_required_confirmations }}
poll_interval = {{ foreign_poll_interval }}
request_timeout = {{ foreign_request_timeout }}

[foreign.contract]
bin = "ForeignBridge.bin"

[authorities]
accounts = [
  "{{ bridge_authorities | join ('",\n"') }}"
]
required_signatures = 1

[transactions]
deposit_relay = { gas = {{ bridge_deposit_relay_gas }} }
withdraw_relay = { gas = {{ bridge_withdraw_relay_gas }} }
withdraw_confirm = { gas = {{ bridge_withdraw_confirm_gas }} }
