[Unit]
Description=bridge-ui
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory={{ bridge_ui_path }}/build
ExecStart=/usr/bin/pm2 serve --instances max --name bridge-ui . {{ bridge_ui_port }}
[Install]
WantedBy=multi-user.target
