[Unit]
Description=bridge-ui
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory=/home/{{ ansible_user }}/poa-bridge/bridge-ui/build
ExecStart=/usr/bin/pm2 start --name bridge-ui --interpreter http-server /home/{{ ansible_user }}/poa-bridge/bridge-ui/build
[Install]
WantedBy=multi-user.target
