[Unit]
Description={{ service_name }}
After=network.target

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory={{ node_path }}
Environment=RUST_LOG=info
ExecStart={{ node_path }}/parity --config node.toml
Restart=always
{% if restart_delay_sec > 0 %}
RestartSec={{ restart_delay_sec }}
{% endif %}

[Install]
WantedBy=multi-user.target
