[Unit]
Description={{ service_name }}
After=network.target

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory={{ node_path }}
Environment=RUST_LOG=info
ExecStart={{ node_path }}/parity --config node.toml
Restart=always

[Install]
WantedBy=multi-user.target
