keystore = "{{ bridge_keystore_folder }}"

[home]
account = "{{ home_signer_address }}"
required_confirmations = {{ bridge_home_required_confirmations }}
poll_interval = {{ bridge_home_poll_interval }}
request_timeout = {{ bridge_home_request_timeout }}
rpc_host = "{{ home_rpc_url }}"
rpc_port = {{ home_rpc_port }}
password = "{{ bridge_home_password_file }}"

[foreign]
account = "{{ foreign_signer_address }}"
required_confirmations = {{ bridge_foreign_required_confirmations }}
poll_interval = {{ bridge_foreign_poll_interval }}
request_timeout = {{ bridge_foreign_request_timeout }}
rpc_host = "{{ foreign_rpc_url }}"
rpc_port = {{ foreign_rpc_port }}
password = "{{ bridge_foreign_password_file }}"

[authorities]
accounts = [
  "{{ bridge_authorities | join ('",\n  "') }}"
]
required_signatures = {{ bridge_authorities_requires_signatures }}

[transactions]
deposit_relay = { gas = {{ bridge_deposit_relay_gas }}, gas_price = {{ bridge_deposit_relay_gas_price }} }
withdraw_relay = { gas = {{ bridge_withdraw_relay_gas }}, gas_price = {{ bridge_withdraw_relay_gas_price }} }
withdraw_confirm = { gas = {{ bridge_withdraw_confirm_gas }}, gas_price = {{ bridge_withdraw_confirm_gas_price }} }
