home_contract_address = "{{ bridge_home_contract_address }}"
foreign_contract_address = "{{ bridge_foreign_contract_address }}"
home_deploy = {{ bridge_home_contract_deploy }}
foreign_deploy = {{ bridge_foreign_contract_deploy }}
checked_deposit_relay = {{ bridge_home_contract_deploy }}
checked_withdraw_relay = {{ bridge_foreign_contract_deploy }}
checked_withdraw_confirm = {{ bridge_foreign_contract_deploy }}
